#titulo {  /* # Selector que se usa para los id */
    color : tomato;
}

p.texto {
    color : slateblue;
}

p.especial {
    color : mediumaquamarine;
}

div p {
    color : aquamarine;
}

div h2, div h3 {
    color : brown;
}

* {  /* Todos los elementos dentro de html*/
    font-size: 24px;
    /* background-color : rgb(235, 228, 228); */
    /* color : black;  Solo para elementos que no tengan otro color definido */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.color {  /*Con ctrl + espacio se despliegan los colores*/
    color : rgb(86, 112, 215);
}

.color {
    /* border: 5px red outset; */
    border-style: solid;
    border-color : red;
    border-radius : 5px;
    border-width: 0.15rem;  /*los rem son relativos al tamaño de la fuente que tenga el elemento padre */
}

#fondo {
    background-color : rgba(100, 150, 200, 0.3);  /*El ultimo valor es la opacidad*/
    /* Opacity : 0.3; */
    height: 200px;
    /* background-image: url("/imagenes/pc.jpg"); */
    /* background-repeat: repeat-y; */
    background-position: right top;
    background: #f00 url("/imagenes/pc.jpg") repeat-y center bottom /100px 100px;
}

.margin {
    background-color: chocolate;
    margin : 15px 50px;  /*Top Right Bottom Left */  /*Espacio externo*/
    padding : 10px 10px;  /*Espacio interno*/ 
    border : solid 1px black;
    height : 37px;  
    width: 229px-; /*Ancho del conenido*/
    overflow: hidden;  /*Oculta lo que se salga del cuadro*/
    outline : 1px red solid;  /*Linea externa al borde*/
    text-align: center;
}

.text {
    font-family: 'Roboto', sans-serif;
    /*Agregar fuentes: Google Fonts se pega en el head del html*/
    text-align: center;
    text-shadow: 2px 2px 5px blue;  /*Sombra del texto*/;
}

a:link {  /*Estado normal del enlace*/
    color : blueviolet;
    /* text-decoration: none;  Quita el subrayado del enlace */
}

a:visited {  /*Estado de enlace visitado*/
    color : gray;
}

a:hover {  /*Estado cuando el mouse esta encima del enlace*/
    color : yellow;
}

a:active {  /*Estado cuando se da click en el enlace*/
    color : red;
}

ul {
    background-color: cyan;
    /* list-style-type: none;  Quita los puntos de la lista */
    list-style-type: square;  /*Cambia los puntos por cuadrados*/
    /* padding-left: 0;  Quita la sangria del ul */
    list-style-position: inside;  /*Puntos dentro del cuadro*/
}

table {
    width: 100%;
    border-collapse: collapse;

} 

th, td {
    border: 1px solid #eee;
    padding: 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even) {  /*Selecciona las filas pares*/  /*con nth-child(even) se selecciona un evento especifico*/
    background-color: #eee;
}

tr:hover {  /*hover es para cuando el mouse esta encima de un elemento*/
    background-color: #aaa;
    cursor: pointer;  /*Cuando el mouse esta encima de la fila aparece la mano*/
}

span { 
    display: block;  /*Los span son elementos inline por defecto, con display block se comportan como divs*/
    max-width: 300px;
    background-color: red;
}

.inline {
    display: inline;  /*Se comporta como un span*/
}

#position {
    position: relative;  /*Con relative se mueve respecto a su posición original*/
    /* position: fixed;  Con fixed se mueve respecto a la ventana del navegador como quedar fijo */
    /* position: absolute;  Con absolute se mueve respecto al primer padre que tenga posición relativa, si no tiene ninguno, respecto al body */
    left: 20px;
}

.left {
    float: left;
    width: 250px;
    height: 200px;
}

.right {
    float: right;
}
.container {
    height: 200px;
}

.column {
    /* margin: 0px 15px; */
    /* padding: 10px 15px; */
    width: 33.3%;
}

.inline-block {
    display: inline-block;
    height: 55px;
    background-color: red
}

.center {
    padding: 50px 0px;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
    text-align: center;
}