html {
    font-family: 'Monserrat', sans-serif;
}

body {
    margin: 0px;
    background-color: #efefef;
}

header {
    background-color: #364552;
    color: white;
    padding: 0.5rem 2rem;  /* Espaciado arriba y abajo: 1rem, izquierda y derecha: 2rem */
}

header h1 {
    font-size: 2.5rem;
    text-align: center;;
}

.container {
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: all 0.3s ease;
    background-color: white;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    cursor: pointer;
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color: #222;
    padding: 2rem;
    color: white;
}

footer p {
    font-size: 1.3rem;
    margin: 0;
}

footer section {
    float: right;
}

footer a {
    transition: 0.3s ease;
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

footer a:hover{
    color: cornflowerblue;
}